/* font adjustment for stretch goal */
h4 {
	font-family: 'Share Tech Mono', monospace;
}


/* content header */

/* adjusted for fixed navbar for stretch goal */
main {
	margin-top: 100px;
}

#content-header, #header-img-container {
	display: inline-block;
	width: 48%;
	text-align: center;
	margin-top: 10px;
	vertical-align: middle;
}

/* img set to background for stretch goal */
#header-img-container {
    background-image: url("../img/header-img.png");
    background-position: center;
    background-repeat: no-repeat;
	min-width: 379px;
    min-height: 379px;
}

#content-header h1 {
	font-size: 4em;
}

/* animation code for stretch goal */
@keyframes button-code {
	from {}
	to {color: white; background: darkgrey}
}

#get-started-button-container {
	min-height: 50px;
	vertical-align: center;
}

#get-started-button {
	border: 2px solid darkgray;
	background: white;
	padding: 5px 40px;
}

#get-started-button:hover {
	box-sizing: border-box;
	animation-name: button-code;
	animation-duration: .5s;
	animation-fill-mode: both;
}


/* content sections */

#top-content {
	margin-top: 60px;
	border-top: 2px solid darkgray;
}

#bottom-content {
	border-bottom: 2px solid darkgray;
}

.text-box {
	display: inline-block;
	margin: 40px 0;
	padding: 0 5px;
}

#top-content .text-box {
	width: 48%;
}

#bottom-content .text-box {
	width: 32%;
}

/* changed to background image for stretch goal */
#middle-content {
	background-image: url("../img/mid-page-accent.jpg");
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 182px;
	width: 100%;
}